@font-face {
	font-family: "Helveticamazing";
	src: url(Font/Helveticamazing.ttf);
}
@font-face {
	font-family: "Inlanders Demo";
	src: url(Font/Inlanders\ Demo.otf)
}
.body{
    background: linear-gradient(rgba(0, 255, 157, 0.925), rgb(65, 97, 86));
    background-repeat: no-repeat;
}

.competences {
	padding-top: 90px;

	line-height: 0px;
	color: #363636;
	font-family: "Inlanders Demo";
	font-size: 55px;
	transition: rotate 0.2s;
}
.competences:hover {
	color: white;
	text-shadow: 3px 3px #00ffb3;
	cursor: pointer;
	transform: rotateY(-25deg) rotateX(10deg);
    transition: all 0.5s ease;
}

.statique {
	color : white;
	text-shadow: 6px 6px #00ffb3;
	cursor: pointer;
	transform: rotateY(-35deg) rotateX(20deg);
    transition: all 0.5s ease;
}

.footer>a{
	color:#fff;
	margin-right: 10px;
	text-decoration: none;
}
.demo-texte-js {
	
	position: relative;
	min-height: 100px;
	font-family: "Helveticamazing";
	color: rgb(26, 25, 25);
	font-size: 4em;
	margin-left: 0px;
    overflow: hidden;
}
.demo-texte-js span {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	font-family: "Helveticamazing";
	color: rgb(26, 25, 25);
}

.mac {
font-family: monospace;
font-family: "Inlanders Demo";
font-size: 50px;
margin-left: 20px;
padding-top: 20px;
}

.mac span {
	color: #13FEA4;
	position: relative;
}

.mac span::before {
	content: "";
	right: -8px;
	top: 50%;
	position: absolute;
	height: 30px;
	width: 2px;
	background: #13FEA4;
	transform: translateY(-45%);
	animation: blink 0.7s infinite;
}

.card {
    background-color: rgba(255, 255, 255, 0.7)!important;
	border-radius: 5%!important;
}

.mac span.stop-blinking::before {
animation: none;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.card-text {
	padding: 30px;
}

.msg {
	text-align: center;
	font-size: 200px;
}
@media screen and (max-width:992px) {
	.competences {
		padding-top: 90px;
		line-height: 0px;
		color: #000000;
		font-family: "Inlanders Demo";
		font-size: 50px;
		text-align: end;
		transition: rotate 0.2s;
	}
	.competences:hover {
		color: white;
		font-size: 60px;
		transform: rotate(-2deg);
		text-shadow: 10px 10px #00ffb3;
		cursor: pointer;
	}
	
}