body {
    background: linear-gradient(rgba(0, 255, 157, 0.925), rgb(65, 97, 86));
}

.titre {
    font-family: "Helveticamazing";
    color: rgb(26, 25, 25);
    font-size: 55px;
    margin-left: 50px;

}

.titre2 {
    font-family: "Helveticamazing";
    color: rgb(26, 25, 25);
    font-size: 25px;
    margin-left: 50px;
}

.PhotoVi {
    height: 572px;
}

.competences {
    padding-top: 80px;
    line-height: 0px;
    color: #000000;
    font-family: "Inlanders Demo";
    font-size: 70px;
    text-align: end; 
    transition: rotate 0.2s;
}

.competences:hover{
    color: white;
    font-size: 95px;
    rotate: 1 -0.5 1 -10deg;
    text-shadow: 5px 5px #00ffb3;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: white;
}


    @font-face {
        font-family: "Helveticamazing";
        src: url(Font/Helveticamazing.ttf);
        }
    @font-face {
        font-family: "Inlanders Demo";
        src: url(Font/Inlanders\ Demo.otf)
    }
  